 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! My name's Lodis, and I'm a passionate computer programmer, game developer, and instructor. I have experience creating games in Unreal using both blueprints and C++ code, creating games in Unity, and years of teaching experience as well.  </p>
                </div>
                <div class="col-lg-4">
                    <p>I specialize in programming artificial intelligence for games. In my previous projects I have implemented flocking behaviours, steering behaviours, path finding AI, and decision making AI for fast paced strategy games. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/document/d/1XYQ1VDm-bJJIw-8ztiomcXKZo5FLB5Ns/edit?usp=sharing&ouid=116914497792375758477&rtpof=true&sd=true" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
